<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device_width, initial-scale=1">
	<meta name="author" content="Diplav">
	
	<title>Team Jatayu|Competitions</title>

<!-- <link rel="stylesheet" type="text/css" href="footer.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="/scroll/jquery.fullpage.js"></script>

  <script src="/script/main.js"></script>
  <!-- <script>
	  ($function(){
		  $(#footer).load("footer.html");
	  });
  </script> -->
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/props.css">
  
  
</head>


<body class="scroll">


<nav class="initial">
	<a href="#"><ul>
		<li><a href='#'>Home</a></li>
		<li><a href='#'>Gallery</a></li>
		<li><a href='#'>Competetions</a></li>
		<li><a href='#'>Contact Us</a></li>
		<li><a href='#'>About Us</a></li>
	</ul></a>
</nav>


<a href="#"><div id="fab" class="fab"><h3 align="center" >Join Us</h3></div></a>

<div id="fullpage">


<section class="moto">
	<div>
		<h1 align="center">
			<ul class="fly-in-text hidden">
				<li>C</li>
				<li>O</li>
				<li>M</li>
				<li>P</li>
				<li>E</li>
				<li>T</li>
				<li>I</li>
				<li>T</li>
				<li>I</li>
				<li>O</li>
				<li>N</li>
				<li>S</li>
			</ul>
		</h1>
	</div>
</section>


<section class="gallery">
	<div class="compBG">
		<div class="compHead">
			<h1>BAJA SAE</h1>
		</div>
		<div class="compContent">
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="compBtn"><p> KNOW MORE</p></div>
	</div>
	<div id="sliderBox" >
		<img src="images/img1.jpg">
		<img src="images/img2.jpg">
		<img src="images/img3.jpg">
		<img src="images/img4.jpg">
		<img src="images/img5.jpg">
	</div>
</section>


</div>

</body>
<script type="text/javascript">$('#fullpage').fullpage();</script>
</html>