<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device_width, initial-scale=1">
	<meta name="author" content="Diplav">
	
	<title>Team Jatayu</title>

<!-- <link rel="stylesheet" type="text/css" href="footer.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script src="\scroll\jquery.fullpage.js"></script>

<script src="\script\main.js"></script>
<!-- <script>
	($function(){
		$(#footer).load("footer.html");
	});
</script> -->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/props.css">

</head>


<body class="scroll">


<nav class="initial">
	<a href="#"><ul>
		<li><a href='#'>Home</a></li>
		<li><a href='#'>Gallery</a></li>
		<li><a href='#'>Competetions</a></li>
		<li><a href='#'>Contact Us</a></li>
		<li><a href='#'>About Us</a></li>
	</ul></a>
</nav>


<a href="#"><div id="fab" class="fab"><h3 align="center" >Join Us</h3></div></a>

<div id="fullpage">

<section class="moto">
	<div>
		<h1 align="center">
			<ul class="fly-in-text hidden">
				<li>T</li>
				<li>E</li>
				<li>A</li>
				<li>M</li>

				<li> </li>

				<li>J</li>
				<li>A</li>
				<li>T</li>
				<li>A</li>
				<li>Y</li>
				<li>U</li>
			</ul>
		</h1>
	</div>
</section>


<section class="gallery">
	<div class=" slantedL"><h1>Image Gallery</h1></div>
	<div class=" slantedR"><h1>Video Gallery</h1></div>
	<div id="sliderBox" >
		<img src="/images/img1.jpg">
		<img src="/images/img2.jpg">
		<img src="/images/img3.jpg">
		<img src="/images/img4.jpg">
		<img src="/images/img5.jpg">
	</div>
</section>


<section class="grid"><a href="roster.html">
<div class="gridItem" id="one" onmouseover="getElem('#one')" style="">
	<div class="gridItemInner">
		<h1 style="position: absolute; top: 25%;">Our Team</h1>
	</div>
</div></a>

<a href="#">
<div class="gridItem" id="two" onmouseover="getElem('#two')" style="float: right; left: 50%;">
	<div class="gridItemInner">
		<h1>Our Sponsors</h1>
	</div>
</div>
</a>

<a href="#">
<div class="gridItem" id="three" onmouseover="getElem('#three')" style="margin-top:0; top:50%;">
	<div class="gridItemInner" id="threei">
		<h1>Team History</h1>
	</div>
</div>
</a>

<a href="#">
<div class="gridItem" id="four" onmouseover="getElem('#four')" style="margin-top:0; float: right; top:50%; left: 50%;">
	<div class="gridItemInner" id="fouri">
		<h1>Our Machine</h1>
	</div>
</div>
</a>

<a href="#">
<div class="gridItem" id="five" onmouseover="getElem('#five')" >
	<div class="gridItemInner" style="background-color:rgba(255,255,255,0.5);">
		<h1>Our Team</h1>
	</div>
</div>	
</a>
</section>

</div>

</body>

<script type="text/javascript">$('#fullpage').fullpage();</script>
</html>
<% include ./partials/footer %> 
